.logo {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #969494;
    img{
        padding: 20px;
        max-width: 50%;
    }
}

.wrapper {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    label{
        align-self: flex-start;
        margin-left: 35.5%;
        margin-top: 15px;
        font-weight: bolder;
        display: inline;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.buttons {
    display: inline-flex; 
    justify-content: center; 
    width: 100%;
}

.btn-login {
    margin-top: 25px;
    background-color: #1ab24d;
    color: white;
    outline: 0;
    border: none;
    padding: 3px 10px;
    width: 100%;
    max-width: 100px;
    height: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        transition: 0.5s;
        color:rgb(138, 137, 137)
    }
}

.btn-register {
    margin-top: 25px;
    background-color: black;
    color: white;
    outline: 0;
    border: none;
    padding: 3px 10px;
    width: 100%;
    max-width: 200px;
    margin-right: 20px;
    height: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        transition: 0.5s;
        color:rgb(138, 137, 137)
    }
}