<div *ngIf="displayForm == 'none'" style="display: inline-flex; justify-content: space-around; min-width: 500px;">
    <button (click)="displayDataForm()" mat-raised-button color="primary">EDIT ARTIST DATA</button>
    <button (click)="displayPhotoForm()" mat-raised-button color="warn">EDIT ARTIST PHOTO</button>
</div>

<div *ngIf="displayForm == 'photo'">
    <h1 style="display: flex; justify-content: center; font-weight: bold;">Update song photo</h1>
    <form class="photo-form" [formGroup]="photoUpdateForm">
        <mat-form-field appearance="outline">
            <ngx-mat-file-input #file formControlName="photo" [accept]="'.jpg, .png'">
            </ngx-mat-file-input>
            <mat-hint *ngIf="!photo?.dirty">Choise your photo for song.</mat-hint>
            <mat-error *ngIf="photo?.hasError('required')">
                Please select a file
            </mat-error>
            <mat-error *ngIf="photo?.hasError('maxContentSize')">
                The total size must not exceed
                {{ photo?.getError("maxContentSize").maxSize | byteFormat }} ({{
                photo?.getError("maxContentSize").actualSize | byteFormat
                }}).
            </mat-error>
            <mat-error *ngIf="!photo?.hasError('requiredFileType')">
                You need to provide a valid image extension (.jpg | .mp3)
            </mat-error>
            <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>
        <button mat-raised-button (click)="updatePhoto()" [disabled]="photoUpdateForm.invalid" color="primary" style="margin-bottom: 10px; margin-top: 25px;">SUBMIT</button>
        <button mat-raised-button (click)="hideForm()">CLOSE FORM</button>
    </form>
</div>

<div *ngIf="displayForm == 'data'">
    <h1 style="display: flex; justify-content: center; font-weight: bold;">Update artist data</h1>
    <form class="form" [formGroup]="artistUpdateForm">
        <app-text-input formControlName="firstName" [label]="'Firstname'"></app-text-input>
        <app-text-input formControlName="lastName" [label]="'Lastname'"></app-text-input>
        <app-text-input formControlName="sceneName" [label]="'Scenename'"></app-text-input>
        <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="date" formControlName="dateOfBirth">
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
            <mat-error *ngIf="dateOfBirth?.errors?.required">This field is required</mat-error>
        </mat-form-field>
        <button mat-raised-button (click)="updateArtist()" [disabled]="artistUpdateForm.invalid" style="margin-bottom: 5px;" color="primary">SUBMIT</button>
        <button mat-raised-button (click)="hideForm()">CLOSE FORM</button>
    </form>
</div>