<div class="playbar">
    <div class="col-1" *ngIf="song">
        <img *ngIf="song?.photoUrl" src="{{song?.photoUrl}}">
        <div>
            <p>{{song?.name}}</p>
            <a>{{song?.artists}}</a>
        </div>
    </div>
    <div class="col-2" *ngIf="song">
        <div class="pannel">
            <button mat-button (click)="skip_previous()" [disabled]="currentIndex == 0 || lastplay == 'song'"><mat-icon>skip_previous</mat-icon></button>
            <button mat-button *ngIf="!state?.playing" (click)="play()" [disabled]="state?.error">
                <mat-icon class="play_btn">play_circle_filled</mat-icon>
            </button>
            <button mat-button *ngIf="state?.playing" (click)="pause()" [disabled]="state?.error">
                <mat-icon class="play_btn">pause_circle_filled</mat-icon>
            </button>
            <button mat-button (click)="skip_next()" [disabled]="currentIndex == getPlayListLength() || lastplay == 'song'"><mat-icon>skip_next</mat-icon></button>
        </div>
        <div class="slider">
            <span id="current-time">{{state?.readableCurrentTime}}</span>
            <mat-slider [disabled]="!song" color="primary" min="0" max="{{state?.duration}}" step="0.1" value="{{state?.currentTime}}" (input)="seekTo($event)"></mat-slider>
            <span *ngIf="song?.duration" id="duration">{{state?.readableDuration}}</span>
        </div>
    </div>
    <div class="col-3" *ngIf="song">
        <button *ngIf="state?.volume == 0" (click)="unMute()" mat-button><mat-icon>volume_off</mat-icon></button>
        <button *ngIf="state!.volume > 0 && state!.volume <= 0.2" (click)="mute()" mat-button><mat-icon>volume_mute</mat-icon></button>
        <button *ngIf="state!.volume > 0.2 && state!.volume <= 0.5" (click)="mute()" mat-button><mat-icon>volume_down</mat-icon></button>
        <button *ngIf="state!.volume > 0.5" (click)="mute()" mat-button><mat-icon>volume_up</mat-icon></button>
        <mat-slider color="primary" value="{{state!.volume}}" min="0" max="1" step="0.01" (input)="volume($event)"></mat-slider>
    </div>
</div>